*{ 
padding:0;
    margin: 0px;

}
html {
      font-family: "Comfortaa", sans-serif;

  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  
}

body {
    margin: 0;
      font-family: "Comfortaa", sans-serif;
    background-color: #ffd500;
    padding:  0px;
    margin: 0px;
}

h1, h2, h3 {
    font-size: 2em;
    margin: 0.67em;
    margin: 0;
      font-family: "Comfortaa", sans-serif;
    font-weight: normal;
}

h4, h5, h6 {
    font-size: 1em;
    margin: 0.67em;
    margin: 0;
      font-family: "Comfortaa", sans-serif;
    font-weight: normal;
}

ul {
margin-left: 10px;
margin-top: 10px;
padding: 0;
list-style: none;
width: 150px;
}
ul li {
position: relative;
}
li ul {
position: fixed;
left: 0px;
top: 30px;
display: none;
background-color: #e2144a;

}
ul li a {
   display: block;
   text-decoration: none;
   color: #e2144a;
background-color: #fff;
   padding: 5px;

}
li:hover ul { 
    display: block; 
}
ul li a:hover{
text-decoration:none;
font-weight: bold;
}
.icon img{
    border-radius: 50%;
    height: 300px;
    width: 300px;
}
.menu img{
    margin: 0 auto;
    margin-left: 0px;
    width: 30px;
    height: 30px;
    background: #FFF;  
    border-radius: 20%;
    float: left;
    z-index: 9999;
    position: fixed;
}
.contato img{
border-radius: 50%;
    margin: 0 auto;
    margin-left: 10px;
    width: 80px;
    height: 80px;
    background: #f1f1f1;  
    float: left;
    z-index: 9999;
    position: fixed;
}

header {
    background-image: linear-gradient(to bottom, #E2144A, #ffd500);
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
    padding-left: 25%;
    padding-right: 25%;
    height: 50%;
}

header p {
    margin-bottom: 2em;
}

#link {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #f1f1f1;
    width: 100%;
}
#link a {
    text-decoration:none;
    color: #f01111;

}
#link div {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 25px;
}


#link p {
    margin-bottom: 2.5em;
    max-width: 1000px;
}
#veronica {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    background-color: #f1f1f1;
    color: #f01111;
    width: flex;
    height: flex;
    padding-top: 50px;
    padding-bottom: 50px;
padding-left: 20%;
padding-right: 20%;
}
#veronica div{
 padding-top: 20px;
    width: flex;
    height: flex;
    align-items: line;
    text-align: left;
}
#skills{
    background-image: linear-gradient(to top, #E2144A, #ffd500);
    display: flex;
    flex-direction: line;
    align-items: center;
    text-align: center;
height: flex;
    color: #000;
    padding-top: 20px;
    width: flex;
}
#skills p {
    margin-bottom: 2.5em;
    max-width: 1000px;
}

#skills div{
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255, 0.7);
    height: flex;
    width: flex;
    margin-right: 1.25%;
    margin-left: 1.25%;
    border-radius: 2%;
}

#footer{
    background-color: #0c0c0c;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    height: flex;
    color: #fff;
    padding-top: 20px;
    width: flex;
}
#footer p {
    margin-bottom: 2.5em;
    max-width: 1000px;
}

#footer div{

    margin-right: 1.25%;
    margin-left: 1.25%;
    display: flex;
    flex-direction: column;
    height: flex;
    width: 50%;
}
@media screen and (min-width: 768px) {
    nav {
        flex-direction: row;
        justify-content: space-around;
    }
    
    nav ul {
        flex-direction: row;
        width: 70%;
    }
    
    header {
        height: 600px;
        height: 60vh;
        justify-content: center;
    }

    #link {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
        width: 100%;
        margin: 0 auto;
    }
    
    #link h2 {
        text-align: center;
        width: 100%;
    }
    
    #link div {
        flex-grow: 1;
        flex-basis: 150px;
        padding: 0px;
    }
    #skills {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
width: 100%;
        margin: 0 auto;
    }
        #skills h2 {
        text-align: center;
        width: 100%;
    }
    #skills div {
        flex-grow: 1;
        flex-basis: 150px;
        padding: 0px;
    }
}
